header {
  height: 120px;
  background: #424a56;

  position: relative;

  .logo {
    position: absolute;
    top: 35px;
    left: 0;

    //@include sprite($logo)
  }

  .main-menu {
    position: absolute;
    left: 269px;
    top: 47px;

    color: #ffffff;
    font-size: 21px;
    font-weight: 400;

    &__item {
      float: left;
      position: relative;
      margin-right: 54px;
      text-decoration: none;
      color: #ffffff;

      &:before {
        content: ' ';
        display: none;
        position: absolute;
        height: 2px;
        left: 0;
        right: 0;
        bottom: -11px;
        background-color: #46c6a0;
      }

      &:hover:before {
        display: block;
      }

      &.active:before {
        display: block;
      }

    }
  }


  .user-menu {
    width: 217px;
    box-shadow: 0 6px 20px rgba(119, 128, 147, 0.3);
    border-radius: 4px;
    background-color: #ffffff;

    &__email {
      display: block;
      height: 55px;
      line-height: 55px;
      border-radius: 4px 4px 0 0;
      background-color: #f3f4f6;

      color: #424a56;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
    }

    form {
      height: 55px;
      line-height: 55px;
      text-align: center;
    }

    &__logout {
      position: relative;
      display: inline-block;
      cursor: pointer;

      border: none;
      padding: 0;
      margin: 0;

      background: transparent;
      color: #46c6a0;
      font-size: 16px;
      font-weight: 500;

      &:before {
        content: ' ';
        display: block;
        left: -23px;
        position: absolute;
        top: 19px;

        @include sprite($logout);
      }
    }

  }

  .user-menu-pl {
    display: block;
    height: 64px;
    width: 70px;
    position: absolute;
    right: 20px;
    top: 40px;
    cursor: pointer;

    &__profile {
      display: block;
      position: absolute;
      width: 44px;
      height: 44px;
      left: 0;
      top: 0;

      @include sprite($user-ava);
    }

    &__dd-ico {
      display: block;
      position: absolute;
      right: 0;
      top: 19px;

      border-bottom: 7px solid #46c6a0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }

    &.active {

      .user-menu-pl__dd-ico {
        border-top: 7px solid #46c6a0;
        border-bottom: none;
      }

    }
  }


  .sign-in-btn {
    display: block;
    position: absolute;
    right: 0;
    top: 40px;
    text-decoration: none;
    color: #ffffff;
    font-size: 21px;
    font-weight: 400;

    height: 42px;
    line-height: 42px;
    border-radius: 97px;
    background-color: rgba(70, 198, 160, 0.3);

    padding: 0 50px 0 31px;

    &:before {
      content: ' ';
      display: block;
      position: absolute;
      top: 14px;
      right: 22px;

      @include sprite($btn-arr)
    }

    &:hover {
      background-color: rgba(70, 198, 160, 0.5);
    }
  }
}

.menu-line {
  position: relative;
  overflow: hidden;
  padding-top: 30px;
  height: 60px;
  box-sizing: content-box;

  &__header {
    position: absolute;
    right: 0;
    top: 42px;
    color: #424a56;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }

  .operator-status {
    float: left;
  }
}
