/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$alpha25-name: 'alpha25';
$alpha25-x: 279px;
$alpha25-y: 89px;
$alpha25-offset-x: -279px;
$alpha25-offset-y: -89px;
$alpha25-width: 25px;
$alpha25-height: 25px;
$alpha25-total-width: 411px;
$alpha25-total-height: 378px;
$alpha25-image: '../images/sprite.png';
$alpha25: (279px, 89px, -279px, -89px, 25px, 25px, 411px, 378px, '../images/sprite.png', 'alpha25', );
$alpha50-name: 'alpha50';
$alpha50-x: 227px;
$alpha50-y: 181px;
$alpha50-offset-x: -227px;
$alpha50-offset-y: -181px;
$alpha50-width: 50px;
$alpha50-height: 50px;
$alpha50-total-width: 411px;
$alpha50-total-height: 378px;
$alpha50-image: '../images/sprite.png';
$alpha50: (227px, 181px, -227px, -181px, 50px, 50px, 411px, 378px, '../images/sprite.png', 'alpha50', );
$arr-direction-name: 'arr-direction';
$arr-direction-x: 198px;
$arr-direction-y: 51px;
$arr-direction-offset-x: -198px;
$arr-direction-offset-y: -51px;
$arr-direction-width: 82px;
$arr-direction-height: 16px;
$arr-direction-total-width: 411px;
$arr-direction-total-height: 378px;
$arr-direction-image: '../images/sprite.png';
$arr-direction: (198px, 51px, -198px, -51px, 82px, 16px, 411px, 378px, '../images/sprite.png', 'arr-direction', );
$bch25-name: 'bch25';
$bch25-x: 249px;
$bch25-y: 302px;
$bch25-offset-x: -249px;
$bch25-offset-y: -302px;
$bch25-width: 25px;
$bch25-height: 25px;
$bch25-total-width: 411px;
$bch25-total-height: 378px;
$bch25-image: '../images/sprite.png';
$bch25: (249px, 302px, -249px, -302px, 25px, 25px, 411px, 378px, '../images/sprite.png', 'bch25', );
$bch50-name: 'bch50';
$bch50-x: 308px;
$bch50-y: 0px;
$bch50-offset-x: -308px;
$bch50-offset-y: 0px;
$bch50-width: 50px;
$bch50-height: 50px;
$bch50-total-width: 411px;
$bch50-total-height: 378px;
$bch50-image: '../images/sprite.png';
$bch50: (308px, 0px, -308px, 0px, 50px, 50px, 411px, 378px, '../images/sprite.png', 'bch50', );
$btc25-name: 'btc25';
$btc25-x: 168px;
$btc25-y: 302px;
$btc25-offset-x: -168px;
$btc25-offset-y: -302px;
$btc25-width: 25px;
$btc25-height: 25px;
$btc25-total-width: 411px;
$btc25-total-height: 378px;
$btc25-image: '../images/sprite.png';
$btc25: (168px, 302px, -168px, -302px, 25px, 25px, 411px, 378px, '../images/sprite.png', 'btc25', );
$btc50-name: 'btc50';
$btc50-x: 308px;
$btc50-y: 208px;
$btc50-offset-x: -308px;
$btc50-offset-y: -208px;
$btc50-width: 50px;
$btc50-height: 50px;
$btc50-total-width: 411px;
$btc50-total-height: 378px;
$btc50-image: '../images/sprite.png';
$btc50: (308px, 208px, -308px, -208px, 50px, 50px, 411px, 378px, '../images/sprite.png', 'btc50', );
$btn-arr-name: 'btn-arr';
$btn-arr-x: 360px;
$btn-arr-y: 334px;
$btn-arr-offset-x: -360px;
$btn-arr-offset-y: -334px;
$btn-arr-width: 18px;
$btn-arr-height: 15px;
$btn-arr-total-width: 411px;
$btn-arr-total-height: 378px;
$btn-arr-image: '../images/sprite.png';
$btn-arr: (360px, 334px, -360px, -334px, 18px, 15px, 411px, 378px, '../images/sprite.png', 'btn-arr', );
$cash25-name: 'cash25';
$cash25-x: 360px;
$cash25-y: 280px;
$cash25-offset-x: -360px;
$cash25-offset-y: -280px;
$cash25-width: 25px;
$cash25-height: 25px;
$cash25-total-width: 411px;
$cash25-total-height: 378px;
$cash25-image: '../images/sprite.png';
$cash25: (360px, 280px, -360px, -280px, 25px, 25px, 411px, 378px, '../images/sprite.png', 'cash25', );
$cash50-name: 'cash50';
$cash50-x: 308px;
$cash50-y: 156px;
$cash50-offset-x: -308px;
$cash50-offset-y: -156px;
$cash50-width: 50px;
$cash50-height: 50px;
$cash50-total-width: 411px;
$cash50-total-height: 378px;
$cash50-image: '../images/sprite.png';
$cash50: (308px, 156px, -308px, -156px, 50px, 50px, 411px, 378px, '../images/sprite.png', 'cash50', );
$change-dir-name: 'change-dir';
$change-dir-x: 141px;
$change-dir-y: 302px;
$change-dir-offset-x: -141px;
$change-dir-offset-y: -302px;
$change-dir-width: 25px;
$change-dir-height: 25px;
$change-dir-total-width: 411px;
$change-dir-total-height: 378px;
$change-dir-image: '../images/sprite.png';
$change-dir: (141px, 302px, -141px, -302px, 25px, 25px, 411px, 378px, '../images/sprite.png', 'change-dir', );
$change-direction-name: 'change_direction';
$change-direction-x: 360px;
$change-direction-y: 98px;
$change-direction-offset-x: -360px;
$change-direction-offset-y: -98px;
$change-direction-width: 30px;
$change-direction-height: 30px;
$change-direction-total-width: 411px;
$change-direction-total-height: 378px;
$change-direction-image: '../images/sprite.png';
$change-direction: (360px, 98px, -360px, -98px, 30px, 30px, 411px, 378px, '../images/sprite.png', 'change_direction', );
$close-alert-name: 'close-alert';
$close-alert-x: 394px;
$close-alert-y: 181px;
$close-alert-offset-x: -394px;
$close-alert-offset-y: -181px;
$close-alert-width: 13px;
$close-alert-height: 13px;
$close-alert-total-width: 411px;
$close-alert-total-height: 378px;
$close-alert-image: '../images/sprite.png';
$close-alert: (394px, 181px, -394px, -181px, 13px, 13px, 411px, 378px, '../images/sprite.png', 'close-alert', );
$close-btn-name: 'close-btn';
$close-btn-x: 394px;
$close-btn-y: 166px;
$close-btn-offset-x: -394px;
$close-btn-offset-y: -166px;
$close-btn-width: 13px;
$close-btn-height: 13px;
$close-btn-total-width: 411px;
$close-btn-total-height: 378px;
$close-btn-image: '../images/sprite.png';
$close-btn: (394px, 166px, -394px, -166px, 13px, 13px, 411px, 378px, '../images/sprite.png', 'close-btn', );
$close-modal-name: 'close-modal';
$close-modal-x: 394px;
$close-modal-y: 151px;
$close-modal-offset-x: -394px;
$close-modal-offset-y: -151px;
$close-modal-width: 13px;
$close-modal-height: 13px;
$close-modal-total-width: 411px;
$close-modal-total-height: 378px;
$close-modal-image: '../images/sprite.png';
$close-modal: (394px, 151px, -394px, -151px, 13px, 13px, 411px, 378px, '../images/sprite.png', 'close-modal', );
$contacts-mail-name: 'contacts-mail';
$contacts-mail-x: 308px;
$contacts-mail-y: 260px;
$contacts-mail-offset-x: -308px;
$contacts-mail-offset-y: -260px;
$contacts-mail-width: 47px;
$contacts-mail-height: 35px;
$contacts-mail-total-width: 411px;
$contacts-mail-total-height: 378px;
$contacts-mail-image: '../images/sprite.png';
$contacts-mail: (308px, 260px, -308px, -260px, 47px, 35px, 411px, 378px, '../images/sprite.png', 'contacts-mail', );
$copy-btn-name: 'copy-btn';
$copy-btn-x: 394px;
$copy-btn-y: 64px;
$copy-btn-offset-x: -394px;
$copy-btn-offset-y: -64px;
$copy-btn-width: 16px;
$copy-btn-height: 17px;
$copy-btn-total-width: 411px;
$copy-btn-total-height: 378px;
$copy-btn-image: '../images/sprite.png';
$copy-btn: (394px, 64px, -394px, -64px, 16px, 17px, 411px, 378px, '../images/sprite.png', 'copy-btn', );
$decline-ico-name: 'decline-ico';
$decline-ico-x: 81px;
$decline-ico-y: 353px;
$decline-ico-offset-x: -81px;
$decline-ico-offset-y: -353px;
$decline-ico-width: 24px;
$decline-ico-height: 24px;
$decline-ico-total-width: 411px;
$decline-ico-total-height: 378px;
$decline-ico-image: '../images/sprite.png';
$decline-ico: (81px, 353px, -81px, -353px, 24px, 24px, 411px, 378px, '../images/sprite.png', 'decline-ico', );
$eth25-name: 'eth25';
$eth25-x: 279px;
$eth25-y: 181px;
$eth25-offset-x: -279px;
$eth25-offset-y: -181px;
$eth25-width: 25px;
$eth25-height: 25px;
$eth25-total-width: 411px;
$eth25-total-height: 378px;
$eth25-image: '../images/sprite.png';
$eth25: (279px, 181px, -279px, -181px, 25px, 25px, 411px, 378px, '../images/sprite.png', 'eth25', );
$eth50-name: 'eth50';
$eth50-x: 52px;
$eth50-y: 250px;
$eth50-offset-x: -52px;
$eth50-offset-y: -250px;
$eth50-width: 50px;
$eth50-height: 50px;
$eth50-total-width: 411px;
$eth50-total-height: 378px;
$eth50-image: '../images/sprite.png';
$eth50: (52px, 250px, -52px, -250px, 50px, 50px, 411px, 378px, '../images/sprite.png', 'eth50', );
$faq-closed-name: 'faq-closed';
$faq-closed-x: 198px;
$faq-closed-y: 69px;
$faq-closed-offset-x: -198px;
$faq-closed-offset-y: -69px;
$faq-closed-width: 18px;
$faq-closed-height: 10px;
$faq-closed-total-width: 411px;
$faq-closed-total-height: 378px;
$faq-closed-image: '../images/sprite.png';
$faq-closed: (198px, 69px, -198px, -69px, 18px, 10px, 411px, 378px, '../images/sprite.png', 'faq-closed', );
$faq-open-name: 'faq-open';
$faq-open-x: 282px;
$faq-open-y: 51px;
$faq-open-offset-x: -282px;
$faq-open-offset-y: -51px;
$faq-open-width: 18px;
$faq-open-height: 10px;
$faq-open-total-width: 411px;
$faq-open-total-height: 378px;
$faq-open-image: '../images/sprite.png';
$faq-open: (282px, 51px, -282px, -51px, 18px, 10px, 411px, 378px, '../images/sprite.png', 'faq-open', );
$form-attention-name: 'form-attention';
$form-attention-x: 360px;
$form-attention-y: 223px;
$form-attention-offset-x: -360px;
$form-attention-offset-y: -223px;
$form-attention-width: 28px;
$form-attention-height: 28px;
$form-attention-total-width: 411px;
$form-attention-total-height: 378px;
$form-attention-image: '../images/sprite.png';
$form-attention: (360px, 223px, -360px, -223px, 28px, 28px, 411px, 378px, '../images/sprite.png', 'form-attention', );
$form-error-name: 'form-error';
$form-error-x: 360px;
$form-error-y: 193px;
$form-error-offset-x: -360px;
$form-error-offset-y: -193px;
$form-error-width: 28px;
$form-error-height: 28px;
$form-error-total-width: 411px;
$form-error-total-height: 378px;
$form-error-image: '../images/sprite.png';
$form-error: (360px, 193px, -360px, -193px, 28px, 28px, 411px, 378px, '../images/sprite.png', 'form-error', );
$form-error-name: 'form_error';
$form-error-x: 394px;
$form-error-y: 119px;
$form-error-offset-x: -394px;
$form-error-offset-y: -119px;
$form-error-width: 15px;
$form-error-height: 15px;
$form-error-total-width: 411px;
$form-error-total-height: 378px;
$form-error-image: '../images/sprite.png';
$form-error: (394px, 119px, -394px, -119px, 15px, 15px, 411px, 378px, '../images/sprite.png', 'form_error', );
$hint-name: 'hint';
$hint-x: 394px;
$hint-y: 196px;
$hint-offset-x: -394px;
$hint-offset-y: -196px;
$hint-width: 13px;
$hint-height: 13px;
$hint-total-width: 411px;
$hint-total-height: 378px;
$hint-image: '../images/sprite.png';
$hint: (394px, 196px, -394px, -196px, 13px, 13px, 411px, 378px, '../images/sprite.png', 'hint', );
$icon-info-name: 'icon-info';
$icon-info-x: 165px;
$icon-info-y: 181px;
$icon-info-offset-x: -165px;
$icon-info-offset-y: -181px;
$icon-info-width: 60px;
$icon-info-height: 60px;
$icon-info-total-width: 411px;
$icon-info-total-height: 378px;
$icon-info-image: '../images/sprite.png';
$icon-info: (165px, 181px, -165px, -181px, 60px, 60px, 411px, 378px, '../images/sprite.png', 'icon-info', );
$lk-success-name: 'lk-success';
$lk-success-x: 81px;
$lk-success-y: 89px;
$lk-success-offset-x: -81px;
$lk-success-offset-y: -89px;
$lk-success-width: 115px;
$lk-success-height: 59px;
$lk-success-total-width: 411px;
$lk-success-total-height: 378px;
$lk-success-image: '../images/sprite.png';
$lk-success: (81px, 89px, -81px, -89px, 115px, 59px, 411px, 378px, '../images/sprite.png', 'lk-success', );
$logo-name: 'logo';
$logo-x: 130px;
$logo-y: 0px;
$logo-offset-x: -130px;
$logo-offset-y: 0px;
$logo-width: 176px;
$logo-height: 49px;
$logo-total-width: 411px;
$logo-total-height: 378px;
$logo-image: '../images/sprite.png';
$logo: (130px, 0px, -130px, 0px, 176px, 49px, 411px, 378px, '../images/sprite.png', 'logo', );
$logout-name: 'logout';
$logout-x: 394px;
$logout-y: 83px;
$logout-offset-x: -394px;
$logout-offset-y: -83px;
$logout-width: 15px;
$logout-height: 17px;
$logout-total-width: 411px;
$logout-total-height: 378px;
$logout-image: '../images/sprite.png';
$logout: (394px, 83px, -394px, -83px, 15px, 17px, 411px, 378px, '../images/sprite.png', 'logout', );
$ltc25-name: 'ltc25';
$ltc25-x: 222px;
$ltc25-y: 302px;
$ltc25-offset-x: -222px;
$ltc25-offset-y: -302px;
$ltc25-width: 25px;
$ltc25-height: 25px;
$ltc25-total-width: 411px;
$ltc25-total-height: 378px;
$ltc25-image: '../images/sprite.png';
$ltc25: (222px, 302px, -222px, -302px, 25px, 25px, 411px, 378px, '../images/sprite.png', 'ltc25', );
$ltc50-name: 'ltc50';
$ltc50-x: 308px;
$ltc50-y: 52px;
$ltc50-offset-x: -308px;
$ltc50-offset-y: -52px;
$ltc50-width: 50px;
$ltc50-height: 50px;
$ltc50-total-width: 411px;
$ltc50-total-height: 378px;
$ltc50-image: '../images/sprite.png';
$ltc50: (308px, 52px, -308px, -52px, 50px, 50px, 411px, 378px, '../images/sprite.png', 'ltc50', );
$menu-arr-name: 'menu-arr';
$menu-arr-x: 404px;
$menu-arr-y: 211px;
$menu-arr-offset-x: -404px;
$menu-arr-offset-y: -211px;
$menu-arr-width: 5px;
$menu-arr-height: 6px;
$menu-arr-total-width: 411px;
$menu-arr-total-height: 378px;
$menu-arr-image: '../images/sprite.png';
$menu-arr: (404px, 211px, -404px, -211px, 5px, 6px, 411px, 378px, '../images/sprite.png', 'menu-arr', );
$oc1-name: 'oc1';
$oc1-x: 330px;
$oc1-y: 302px;
$oc1-offset-x: -330px;
$oc1-offset-y: -302px;
$oc1-width: 25px;
$oc1-height: 25px;
$oc1-total-width: 411px;
$oc1-total-height: 378px;
$oc1-image: '../images/sprite.png';
$oc1: (330px, 302px, -330px, -302px, 25px, 25px, 411px, 378px, '../images/sprite.png', 'oc1', );
$oc2-name: 'oc2';
$oc2-x: 0px;
$oc2-y: 353px;
$oc2-offset-x: 0px;
$oc2-offset-y: -353px;
$oc2-width: 25px;
$oc2-height: 25px;
$oc2-total-width: 411px;
$oc2-total-height: 378px;
$oc2-image: '../images/sprite.png';
$oc2: (0px, 353px, 0px, -353px, 25px, 25px, 411px, 378px, '../images/sprite.png', 'oc2', );
$oc3-name: 'oc3';
$oc3-x: 54px;
$oc3-y: 353px;
$oc3-offset-x: -54px;
$oc3-offset-y: -353px;
$oc3-width: 25px;
$oc3-height: 25px;
$oc3-total-width: 411px;
$oc3-total-height: 378px;
$oc3-image: '../images/sprite.png';
$oc3: (54px, 353px, -54px, -353px, 25px, 25px, 411px, 378px, '../images/sprite.png', 'oc3', );
$op-online-name: 'op_online';
$op-online-x: 170px;
$op-online-y: 150px;
$op-online-offset-x: -170px;
$op-online-offset-y: -150px;
$op-online-width: 20px;
$op-online-height: 20px;
$op-online-total-width: 411px;
$op-online-total-height: 378px;
$op-online-image: '../images/sprite.png';
$op-online: (170px, 150px, -170px, -150px, 20px, 20px, 411px, 378px, '../images/sprite.png', 'op_online', );
$operator-decline-name: 'operator-decline';
$operator-decline-x: 360px;
$operator-decline-y: 130px;
$operator-decline-offset-x: -360px;
$operator-decline-offset-y: -130px;
$operator-decline-width: 30px;
$operator-decline-height: 30px;
$operator-decline-total-width: 411px;
$operator-decline-total-height: 378px;
$operator-decline-image: '../images/sprite.png';
$operator-decline: (360px, 130px, -360px, -130px, 30px, 30px, 411px, 378px, '../images/sprite.png', 'operator-decline', );
$operator-disable-name: 'operator-disable';
$operator-disable-x: 360px;
$operator-disable-y: 66px;
$operator-disable-offset-x: -360px;
$operator-disable-offset-y: -66px;
$operator-disable-width: 30px;
$operator-disable-height: 30px;
$operator-disable-total-width: 411px;
$operator-disable-total-height: 378px;
$operator-disable-image: '../images/sprite.png';
$operator-disable: (360px, 66px, -360px, -66px, 30px, 30px, 411px, 378px, '../images/sprite.png', 'operator-disable', );
$operator-enable-name: 'operator-enable';
$operator-enable-x: 360px;
$operator-enable-y: 34px;
$operator-enable-offset-x: -360px;
$operator-enable-offset-y: -34px;
$operator-enable-width: 30px;
$operator-enable-height: 30px;
$operator-enable-total-width: 411px;
$operator-enable-total-height: 378px;
$operator-enable-image: '../images/sprite.png';
$operator-enable: (360px, 34px, -360px, -34px, 30px, 30px, 411px, 378px, '../images/sprite.png', 'operator-enable', );
$order-direction-detail-name: 'order-direction-detail';
$order-direction-detail-x: 130px;
$order-direction-detail-y: 51px;
$order-direction-detail-offset-x: -130px;
$order-direction-detail-offset-y: -51px;
$order-direction-detail-width: 66px;
$order-direction-detail-height: 32px;
$order-direction-detail-total-width: 411px;
$order-direction-detail-total-height: 378px;
$order-direction-detail-image: '../images/sprite.png';
$order-direction-detail: (130px, 51px, -130px, -51px, 66px, 32px, 411px, 378px, '../images/sprite.png', 'order-direction-detail', );
$order-direction-name: 'order-direction';
$order-direction-x: 125px;
$order-direction-y: 150px;
$order-direction-offset-x: -125px;
$order-direction-offset-y: -150px;
$order-direction-width: 43px;
$order-direction-height: 21px;
$order-direction-total-width: 411px;
$order-direction-total-height: 378px;
$order-direction-image: '../images/sprite.png';
$order-direction: (125px, 150px, -125px, -150px, 43px, 21px, 411px, 378px, '../images/sprite.png', 'order-direction', );
$oreder-close-name: 'oreder-close';
$oreder-close-x: 394px;
$oreder-close-y: 211px;
$oreder-close-offset-x: -394px;
$oreder-close-offset-y: -211px;
$oreder-close-width: 8px;
$oreder-close-height: 8px;
$oreder-close-total-width: 411px;
$oreder-close-total-height: 378px;
$oreder-close-image: '../images/sprite.png';
$oreder-close: (394px, 211px, -394px, -211px, 8px, 8px, 411px, 378px, '../images/sprite.png', 'oreder-close', );
$qiwi25-name: 'qiwi25';
$qiwi25-x: 195px;
$qiwi25-y: 302px;
$qiwi25-offset-x: -195px;
$qiwi25-offset-y: -302px;
$qiwi25-width: 25px;
$qiwi25-height: 25px;
$qiwi25-total-width: 411px;
$qiwi25-total-height: 378px;
$qiwi25-image: '../images/sprite.png';
$qiwi25: (195px, 302px, -195px, -302px, 25px, 25px, 411px, 378px, '../images/sprite.png', 'qiwi25', );
$qiwi50-name: 'qiwi50';
$qiwi50-x: 0px;
$qiwi50-y: 302px;
$qiwi50-offset-x: 0px;
$qiwi50-offset-y: -302px;
$qiwi50-width: 49px;
$qiwi50-height: 49px;
$qiwi50-total-width: 411px;
$qiwi50-total-height: 378px;
$qiwi50-image: '../images/sprite.png';
$qiwi50: (0px, 302px, 0px, -302px, 49px, 49px, 411px, 378px, '../images/sprite.png', 'qiwi50', );
$question-closed-name: 'question-closed';
$question-closed-x: 360px;
$question-closed-y: 0px;
$question-closed-offset-x: -360px;
$question-closed-offset-y: 0px;
$question-closed-width: 32px;
$question-closed-height: 32px;
$question-closed-total-width: 411px;
$question-closed-total-height: 378px;
$question-closed-image: '../images/sprite.png';
$question-closed: (360px, 0px, -360px, 0px, 32px, 32px, 411px, 378px, '../images/sprite.png', 'question-closed', );
$question-open-name: 'question-open';
$question-open-x: 360px;
$question-open-y: 162px;
$question-open-offset-x: -360px;
$question-open-offset-y: -162px;
$question-open-width: 29px;
$question-open-height: 29px;
$question-open-total-width: 411px;
$question-open-total-height: 378px;
$question-open-image: '../images/sprite.png';
$question-open: (360px, 162px, -360px, -162px, 29px, 29px, 411px, 378px, '../images/sprite.png', 'question-open', );
$sber25-name: 'sber25';
$sber25-x: 303px;
$sber25-y: 302px;
$sber25-offset-x: -303px;
$sber25-offset-y: -302px;
$sber25-width: 25px;
$sber25-height: 25px;
$sber25-total-width: 411px;
$sber25-total-height: 378px;
$sber25-image: '../images/sprite.png';
$sber25: (303px, 302px, -303px, -302px, 25px, 25px, 411px, 378px, '../images/sprite.png', 'sber25', );
$sber50-name: 'sber50';
$sber50-x: 208px;
$sber50-y: 250px;
$sber50-offset-x: -208px;
$sber50-offset-y: -250px;
$sber50-width: 50px;
$sber50-height: 50px;
$sber50-total-width: 411px;
$sber50-total-height: 378px;
$sber50-image: '../images/sprite.png';
$sber50: (208px, 250px, -208px, -250px, 50px, 50px, 411px, 378px, '../images/sprite.png', 'sber50', );
$slider-arr-left-name: 'slider-arr-left';
$slider-arr-left-x: 394px;
$slider-arr-left-y: 0px;
$slider-arr-left-offset-x: -394px;
$slider-arr-left-offset-y: 0px;
$slider-arr-left-width: 17px;
$slider-arr-left-height: 30px;
$slider-arr-left-total-width: 411px;
$slider-arr-left-total-height: 378px;
$slider-arr-left-image: '../images/sprite.png';
$slider-arr-left: (394px, 0px, -394px, 0px, 17px, 30px, 411px, 378px, '../images/sprite.png', 'slider-arr-left', );
$slider-arr-right-name: 'slider-arr-right';
$slider-arr-right-x: 394px;
$slider-arr-right-y: 32px;
$slider-arr-right-offset-x: -394px;
$slider-arr-right-offset-y: -32px;
$slider-arr-right-width: 17px;
$slider-arr-right-height: 30px;
$slider-arr-right-total-width: 411px;
$slider-arr-right-total-height: 378px;
$slider-arr-right-image: '../images/sprite.png';
$slider-arr-right: (394px, 32px, -394px, -32px, 17px, 30px, 411px, 378px, '../images/sprite.png', 'slider-arr-right', );
$sm-error-name: 'sm-error';
$sm-error-x: 192px;
$sm-error-y: 150px;
$sm-error-offset-x: -192px;
$sm-error-offset-y: -150px;
$sm-error-width: 19px;
$sm-error-height: 19px;
$sm-error-total-width: 411px;
$sm-error-total-height: 378px;
$sm-error-image: '../images/sprite.png';
$sm-error: (192px, 150px, -192px, -150px, 19px, 19px, 411px, 378px, '../images/sprite.png', 'sm-error', );
$success-feedback-name: 'success-feedback';
$success-feedback-x: 198px;
$success-feedback-y: 89px;
$success-feedback-offset-x: -198px;
$success-feedback-offset-y: -89px;
$success-feedback-width: 79px;
$success-feedback-height: 42px;
$success-feedback-total-width: 411px;
$success-feedback-total-height: 378px;
$success-feedback-image: '../images/sprite.png';
$success-feedback: (198px, 89px, -198px, -89px, 79px, 42px, 411px, 378px, '../images/sprite.png', 'success-feedback', );
$success-ico-name: 'success-ico';
$success-ico-x: 51px;
$success-ico-y: 302px;
$success-ico-offset-x: -51px;
$success-ico-offset-y: -302px;
$success-ico-width: 48px;
$success-ico-height: 48px;
$success-ico-total-width: 411px;
$success-ico-total-height: 378px;
$success-ico-image: '../images/sprite.png';
$success-ico: (51px, 302px, -51px, -302px, 48px, 48px, 411px, 378px, '../images/sprite.png', 'success-ico', );
$tech-works-name: 'tech-works';
$tech-works-x: 95px;
$tech-works-y: 181px;
$tech-works-offset-x: -95px;
$tech-works-offset-y: -181px;
$tech-works-width: 68px;
$tech-works-height: 63px;
$tech-works-total-width: 411px;
$tech-works-total-height: 378px;
$tech-works-image: '../images/sprite.png';
$tech-works: (95px, 181px, -95px, -181px, 68px, 63px, 411px, 378px, '../images/sprite.png', 'tech-works', );
$text-attention-name: 'text-attention';
$text-attention-x: 101px;
$text-attention-y: 302px;
$text-attention-offset-x: -101px;
$text-attention-offset-y: -302px;
$text-attention-width: 38px;
$text-attention-height: 31px;
$text-attention-total-width: 411px;
$text-attention-total-height: 378px;
$text-attention-image: '../images/sprite.png';
$text-attention: (101px, 302px, -101px, -302px, 38px, 31px, 411px, 378px, '../images/sprite.png', 'text-attention', );
$tip-close-name: 'tip-close';
$tip-close-x: 394px;
$tip-close-y: 136px;
$tip-close-offset-x: -394px;
$tip-close-offset-y: -136px;
$tip-close-width: 13px;
$tip-close-height: 13px;
$tip-close-total-width: 411px;
$tip-close-total-height: 378px;
$tip-close-image: '../images/sprite.png';
$tip-close: (394px, 136px, -394px, -136px, 13px, 13px, 411px, 378px, '../images/sprite.png', 'tip-close', );
$tip-icon-name: 'tip-icon';
$tip-icon-x: 394px;
$tip-icon-y: 102px;
$tip-icon-offset-x: -394px;
$tip-icon-offset-y: -102px;
$tip-icon-width: 15px;
$tip-icon-height: 15px;
$tip-icon-total-width: 411px;
$tip-icon-total-height: 378px;
$tip-icon-image: '../images/sprite.png';
$tip-icon: (394px, 102px, -394px, -102px, 15px, 15px, 411px, 378px, '../images/sprite.png', 'tip-icon', );
$tks25-name: 'tks25';
$tks25-x: 276px;
$tks25-y: 302px;
$tks25-offset-x: -276px;
$tks25-offset-y: -302px;
$tks25-width: 25px;
$tks25-height: 25px;
$tks25-total-width: 411px;
$tks25-total-height: 378px;
$tks25-image: '../images/sprite.png';
$tks25: (276px, 302px, -276px, -302px, 25px, 25px, 411px, 378px, '../images/sprite.png', 'tks25', );
$tks50-name: 'tks50';
$tks50-x: 308px;
$tks50-y: 104px;
$tks50-offset-x: -308px;
$tks50-offset-y: -104px;
$tks50-width: 50px;
$tks50-height: 50px;
$tks50-total-width: 411px;
$tks50-total-height: 378px;
$tks50-image: '../images/sprite.png';
$tks50: (308px, 104px, -308px, -104px, 50px, 50px, 411px, 378px, '../images/sprite.png', 'tks50', );
$top-btn-arr-name: 'top-btn-arr';
$top-btn-arr-x: 81px;
$top-btn-arr-y: 150px;
$top-btn-arr-offset-x: -81px;
$top-btn-arr-offset-y: -150px;
$top-btn-arr-width: 42px;
$top-btn-arr-height: 23px;
$top-btn-arr-total-width: 411px;
$top-btn-arr-total-height: 378px;
$top-btn-arr-image: '../images/sprite.png';
$top-btn-arr: (81px, 150px, -81px, -150px, 42px, 23px, 411px, 378px, '../images/sprite.png', 'top-btn-arr', );
$trust-col2-name: 'trust_col2';
$trust-col2-x: 0px;
$trust-col2-y: 181px;
$trust-col2-offset-x: 0px;
$trust-col2-offset-y: -181px;
$trust-col2-width: 93px;
$trust-col2-height: 67px;
$trust-col2-total-width: 411px;
$trust-col2-total-height: 378px;
$trust-col2-image: '../images/sprite.png';
$trust-col2: (0px, 181px, 0px, -181px, 93px, 67px, 411px, 378px, '../images/sprite.png', 'trust_col2', );
$trust-col3-name: 'trust_col3';
$trust-col3-x: 0px;
$trust-col3-y: 0px;
$trust-col3-offset-x: 0px;
$trust-col3-offset-y: 0px;
$trust-col3-width: 128px;
$trust-col3-height: 87px;
$trust-col3-total-width: 411px;
$trust-col3-total-height: 378px;
$trust-col3-image: '../images/sprite.png';
$trust-col3: (0px, 0px, 0px, 0px, 128px, 87px, 411px, 378px, '../images/sprite.png', 'trust_col3', );
$trust-exg-name: 'trust_exg';
$trust-exg-x: 0px;
$trust-exg-y: 89px;
$trust-exg-offset-x: 0px;
$trust-exg-offset-y: -89px;
$trust-exg-width: 79px;
$trust-exg-height: 90px;
$trust-exg-total-width: 411px;
$trust-exg-total-height: 378px;
$trust-exg-image: '../images/sprite.png';
$trust-exg: (0px, 89px, 0px, -89px, 79px, 90px, 411px, 378px, '../images/sprite.png', 'trust_exg', );
$user-ava-name: 'user_ava';
$user-ava-x: 260px;
$user-ava-y: 250px;
$user-ava-offset-x: -260px;
$user-ava-offset-y: -250px;
$user-ava-width: 44px;
$user-ava-height: 44px;
$user-ava-total-width: 411px;
$user-ava-total-height: 378px;
$user-ava-image: '../images/sprite.png';
$user-ava: (260px, 250px, -260px, -250px, 44px, 44px, 411px, 378px, '../images/sprite.png', 'user_ava', );
$vtb25-name: 'vtb25';
$vtb25-x: 360px;
$vtb25-y: 307px;
$vtb25-offset-x: -360px;
$vtb25-offset-y: -307px;
$vtb25-width: 25px;
$vtb25-height: 25px;
$vtb25-total-width: 411px;
$vtb25-total-height: 378px;
$vtb25-image: '../images/sprite.png';
$vtb25: (360px, 307px, -360px, -307px, 25px, 25px, 411px, 378px, '../images/sprite.png', 'vtb25', );
$vtb50-name: 'vtb50';
$vtb50-x: 104px;
$vtb50-y: 250px;
$vtb50-offset-x: -104px;
$vtb50-offset-y: -250px;
$vtb50-width: 50px;
$vtb50-height: 50px;
$vtb50-total-width: 411px;
$vtb50-total-height: 378px;
$vtb50-image: '../images/sprite.png';
$vtb50: (104px, 250px, -104px, -250px, 50px, 50px, 411px, 378px, '../images/sprite.png', 'vtb50', );
$xrp25-name: 'xrp25';
$xrp25-x: 27px;
$xrp25-y: 353px;
$xrp25-offset-x: -27px;
$xrp25-offset-y: -353px;
$xrp25-width: 25px;
$xrp25-height: 25px;
$xrp25-total-width: 411px;
$xrp25-total-height: 378px;
$xrp25-image: '../images/sprite.png';
$xrp25: (27px, 353px, -27px, -353px, 25px, 25px, 411px, 378px, '../images/sprite.png', 'xrp25', );
$xrp50-name: 'xrp50';
$xrp50-x: 156px;
$xrp50-y: 250px;
$xrp50-offset-x: -156px;
$xrp50-offset-y: -250px;
$xrp50-width: 50px;
$xrp50-height: 50px;
$xrp50-total-width: 411px;
$xrp50-total-height: 378px;
$xrp50-image: '../images/sprite.png';
$xrp50: (156px, 250px, -156px, -250px, 50px, 50px, 411px, 378px, '../images/sprite.png', 'xrp50', );
$ya25-name: 'ya25';
$ya25-x: 360px;
$ya25-y: 253px;
$ya25-offset-x: -360px;
$ya25-offset-y: -253px;
$ya25-width: 25px;
$ya25-height: 25px;
$ya25-total-width: 411px;
$ya25-total-height: 378px;
$ya25-image: '../images/sprite.png';
$ya25: (360px, 253px, -360px, -253px, 25px, 25px, 411px, 378px, '../images/sprite.png', 'ya25', );
$ya50-name: 'ya50';
$ya50-x: 0px;
$ya50-y: 250px;
$ya50-offset-x: 0px;
$ya50-offset-y: -250px;
$ya50-width: 50px;
$ya50-height: 50px;
$ya50-total-width: 411px;
$ya50-total-height: 378px;
$ya50-image: '../images/sprite.png';
$ya50: (0px, 250px, 0px, -250px, 50px, 50px, 411px, 378px, '../images/sprite.png', 'ya50', );
$spritesheet-width: 411px;
$spritesheet-height: 378px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($alpha25, $alpha50, $arr-direction, $bch25, $bch50, $btc25, $btc50, $btn-arr, $cash25, $cash50, $change-dir, $change-direction, $close-alert, $close-btn, $close-modal, $contacts-mail, $copy-btn, $decline-ico, $eth25, $eth50, $faq-closed, $faq-open, $form-attention, $form-error, $form-error, $hint, $icon-info, $lk-success, $logo, $logout, $ltc25, $ltc50, $menu-arr, $oc1, $oc2, $oc3, $op-online, $operator-decline, $operator-disable, $operator-enable, $order-direction-detail, $order-direction, $oreder-close, $qiwi25, $qiwi50, $question-closed, $question-open, $sber25, $sber50, $slider-arr-left, $slider-arr-right, $sm-error, $success-feedback, $success-ico, $tech-works, $text-attention, $tip-close, $tip-icon, $tks25, $tks50, $top-btn-arr, $trust-col2, $trust-col3, $trust-exg, $user-ava, $vtb25, $vtb50, $xrp25, $xrp50, $ya25, $ya50, );
$spritesheet: (411px, 378px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
